@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Custom horizontal scrollbar */
.scrollbar::-webkit-scrollbar {
  height: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #facc15; /* Tailwind amber-400 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #fbbf24; /* Tailwind amber-300 */
}
